* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #cfd9df;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    min-height: 100%;

    &.dark {
        --primary: #22252d;
        --secondary: #292d36;
        --color: #fff;
        --shadow: #cfd9df;
    }
    &.light {
        --primary: #fff;
        --secondary: #eaf1f5;
        --shadow: #cfd9df;
        --color: #000;
    }

    .wrapper {
        display: flex;
        height: 100vh;

        .content {
            margin: auto;
            @media (max-width: 767px) {
                width: 100%;
                margin: 0;
                background: var(--secondary);
            }
            .calculator {
                border-radius: 20px 20px 0 0;
                background: var(--primary);
                box-shadow: 0 0 6px 4px var(--shadow);
                padding: 5px;

                @media (max-width: 767px) {
                    border-radius: 0;
                    padding: 0;
                }

                .screen {
                    background: var(--primary);
                    margin: 20px;
                    margin: auto;

                    .todayStatus {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 12px;
                        color: var(--color);
                        padding: 10px 15px;

                        .time {
                            text-transform: uppercase;
                        }
                    }

                    .mode {
                        .action {
                            background-color: var(--secondary);
                            padding: 5px 12px;
                            border-radius: 30px;
                            width: 60px;
                            margin: 0 auto;
                            margin-top: 5px;
                            display: flex;
                            justify-content: space-between;

                            .ico {
                                color: var(--color);
                                opacity: 0.5;
                                cursor: pointer;

                                &.active {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .screenContent {
                        text-align: right;
                        padding: 15px 20px;
                        user-select: none;
                        min-height: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;

                        .calculation {
                            font-size: 14px;
                            color: var(--color);
                            opacity: 0.5;
                            overflow: auto;
                        }

                        .result {
                            font-size: 45px;
                            color: var(--color);
                            font-weight: 500;
                        }
                    }
                }
                .operation {
                    background-color: var(--secondary);
                    border-radius: 15px;
                    padding: 5px 5px 30px 5px;
                    position: relative;

                    @media (max-width: 767px) {
                        border-radius: 0;
                    }

                    &::after {
                        content: '';
                        height: 3px;
                        border-radius: 3px;
                        width: 25%;
                        position: absolute;
                        top: auto;
                        bottom: 15px;
                        left: 0;
                        right: 0;
                        background-color: var(--primary);
                        margin: auto;
                    }

                    table {
                        border-collapse: collapse;
                        width: 100%;

                        tr,
                        td {
                            border-collapse: collapse;
                            padding: 5px;

                            .btn {
                                width: 100%;
                                min-width: 60px;
                                min-height: 60px;
                                height: 100%;
                                font-size: 20px;
                                cursor: pointer;
                                border: none;
                                background: var(--primary);
                                color: var(--color);
                                outline: none;
                                border-radius: 7.5px;

                                @media (max-width: 767px) {
                                    border-radius: 3px;
                                }

                                &.equal {
                                    min-height: calc(60px * 2 + 10px);
                                }

                                &.zero {
                                    min-width: calc(60px * 2);
                                }

                                &:hover {
                                    background-color: var(--primary);
                                    transition: all 300ms ease-in-out;
                                }
                            }

                            .operator {
                                color: #34a853;
                            }

                            .math {
                                color: #ea4335;
                            }
                        }
                    }
                }
            }
            .app-name {
                text-align: center;
                font-size: 12px;
                padding-top: 5px;
                padding-bottom: 10px;
                border-radius: 0 0 20px 20px;
                background: var(--primary);
                color: var(--color);

                @media (max-width: 767px) {
                    border-radius: 0;
                    padding-top: 0;
                    background: var(--secondary);
                }

                .link {
                    display: inline-block;
                    position: relative;
                    text-decoration: underline;
                    color: #275efe;
                }
            }
        }
    }
}
